    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Times New Roman', Times, serif
    }
    
    p {
        font-size: x-large;
    }
    
    .Header {
        color: rgb(21, 127, 193);
        font-weight:bold;
        border: 10px;
        border-color: blue;
        background-color: antiquewhite;
        outline: 5px solid rgb(68, 137, 239)
    }

    .Body {
        display: grid;
        grid-template-columns: 45% 45%;
        grid-gap: 3vw;
        align-items: center;
        justify-content: center;
        margin-top: 1%;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .KeyFindingsBox {
        /* color: rgb(0, 0, 0); */
        flex-wrap: wrap;
        float: left;
        font-family: 'Times New Roman', Times, serif;
        padding: 20px;
        margin-top: 25px;
        max-height: 653px;
        border-radius: 15px;
        border: 3px solid #3B788A;
        box-shadow: 5px 5px 2px #3B788A;
    }
    
    .PatientInfo {
        height: auto;
        padding: 50px;
        padding-top: 20px;
        padding-bottom: 40px;
        padding-right: 20px;
        float: auto;
        border-radius: 15px;
        border: 3px solid #3B788A;
        box-shadow: 5px 5px 2px #3B788A;
    }

    .exam-id {
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 2vw;
    }

    /* Detail page layout */
    .LeftContent {
        padding: 0 0 15vh 0;
        justify-content: center;
        height: 100%;
        flex: 0 1 auto;
        margin-top: 10%;
    }

    .RightContent {
        padding: 0 2vw 10vh 2vw;
        align-items: center;
        overflow: hidden;
        flex: 0 1 auto;
        font-size: medium;
        height: 100%;
        margin: auto;
    }

    .XRayImage {
        font-family: 'Times New Roman', Times, serif;
        transform: scale(1.1, 1.1);
    }
   .imageBorder{
        border: 1px solid black;
        overflow: hidden;
        box-shadow: 5px 4px 5px #1d2122;
    } 

    /* row of buttons on details page */
    .manipulateDataRow {
        display: inline-flex;
        width: 100%;
    }
    .backButton{
        color: #3B788A;
        border: 4px solid #3B788A;
        border-radius: 50%;
        height: 35px;
        width: 35px;
        margin-left: 10px;
        margin-top: 10px;
    }
    .backButton:hover{
        color: #8b89eb;
        border-color: #8b89eb;
    }

    .EditPlacement {
        background-color: #ffffff;
        width: 70%;
    }
    .EditButton{
        color: #3B788A;
        height: 40px;
        width: 40px;
    } 

    .EditButton:hover {
        color: #8b89eb;
    }
    .DeleteButton {
        color: #3B788A;
        height: 35px;
        width: 35px;
    }
    .DeleteButton:hover{
        color: #8b89eb;
    }
    /* TODO make right side content snap under the image at half screen */
    /* @media screen {
        .RightContent{
            background-color: red;
        }
        .EditPlacement {
            padding-left: 70%;
        }
    } */
    