    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Times New Roman', Times, serif
    }
    
    p {
        font-size: x-large;
    }

    .Body {
        display: grid;
        grid-template-columns: 45% 45%;
        grid-gap: 3vw;
        align-items: center;
        justify-content: center;
        margin-top: 1%;
    }
    .KeyFindingsBox { 
        flex-wrap: wrap;
        float: left;
        /* font-family: 'Times New Roman', Times, serif; */
        font-weight: lighter;
        padding: 0 20px 0 20px;
        margin-top: 25px;
        height: fit-content;
        width: 100%;
        border-radius: 15px;
        border: 3px solid #F4B941;
        border-left: 15px solid #F4B941;
        box-shadow: 8px 8px 2px #ebeeef;
    }
    
    .PatientInfo {
        /* font-family: 'Times New Roman', Times, serif; */
        padding: 0px 20px 0px 20px;
        margin-top: 30px;
        border-radius: 10px;
        border: 3px solid #F4B941;
        border-left: 15px solid #F4B941;
        box-shadow: 8px 8px 2px #ebeeef;
        height: fit-content;
        line-height: 30px;
    }
    .PatientInfo p{
        margin: 10px;
    }

    .patient-id {
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: xx-large;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: normal;
        /* background-color: red; */
    }

    /* Detail page layout */
    .LeftContent {
        padding: 0 0 15vh 0;
        justify-content: center;
        height: 100%;
        flex: 0 1 auto;
        margin-top: 10%;
    }

    .RightContent {
        padding: 0 2vw 10vh 2vw;
        align-items: center;
        overflow: hidden;
        flex: 0 1 auto;
        font-size: medium;
        height: 100%;
        margin: auto;
    }

    .XRayImage {
        transform: scale(1.15, 1.1);
        width: 100%;
        height: auto;
    }
    
   .imageBorder{
        border: 1px solid black;
        overflow: hidden;
        box-shadow: 5px 4px 5px #1d2122;
    } 

    /* row of buttons on details page */
    .manipulateDataRow {
        display: grid;
        grid-template-columns: 5% 75% 10% 5% auto;
        width: 100%;
        text-align: right;  
        margin-top: 12vh;
    }
    .backButton{
        color: #0D2E5E;
        border: 4px solid #0D2E5E;
        border-radius: 50%;
        height: 38px;
        width: 38px;
        margin-left: 10px;
        margin-top: 3px;
        cursor: pointer;
    }
    .backButton:hover{
        color: #F4B941;
        border-color: #F4B941;
    }
    .EditButton{
        color: #0D2E5E;
        height: 40px;
        width: 40px;
        cursor: pointer;
    } 

    .EditButton:hover {
        color: #F4B941;
    }
    .DeleteButton {
        color: #0D2E5E;
        height: 35px;
        width: 35px;
        padding-top: 3.3px;
    }
    .DeleteButton:hover{
        color: #F4B941;
    }

   @media only screen and (max-width:950px) {
        /* now top row content */
        .LeftContent {
                width: 75%;
                margin: auto;
                padding: 12px 0 0 0;
                float: none;
        }
        /* now bottom row content */
       .RightContent{
            align-items: center;
            justify-content: center;
            width: 80%;
        }
       .Body{
            grid-template-columns: 100%;
       }
        .PatientInfo {
            margin-top: 0;
            width: 100%;
            padding-top: 0px;
            margin-right: 100%;
        }
        .patient-id{
            margin-left: 10%;
            text-align: left;
            font-size: 4vw;
        }
   }

    @media only screen and (max-width:650px) {
        .patient-id { 
            padding-left: 0%;
            margin-left: 4%;
            font-size: 4vw;
        }
       
        .manipulateDataRow{
            margin-top: 14%;
        }
    }