body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f3ff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Detail page layout */
.LeftContent {
  padding: 5vh 0 15vh 0;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.RightContent {
  padding: 5vh 2vw 10vh 2vw;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex: 0 1 auto;
  font-size: small;
  height: 100%;
  margin: auto;
}

.Body {
  display: grid;
  grid-template-columns: 45% 45%;
  grid-gap: 5vw;
  align-items: center;
  justify-content: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* Edit buttons */
.EditButton {
  transition-duration: 0.4s;
  background-color: #3b788a;
  border: none;
  border-radius: 15px;
  margin-left: 2%;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
}

.EditButton:hover {
  background-color: #8b89eb;
}

.manipulateDataRow {
  background-color: red;
  display: inline-flex;
  width: 100%;
}
.EditDelete {
  background-color: #8b89eb;
  width: 100%;
  align-content: right;
}
/* Info box details */
.XRayImage {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;

  display: inline-block;
  position: relative;
  /* border: solid black 2px; */
  padding: 4px;
  color: rgb(0, 0, 0);
}

.ButtonBundle {
  margin-left: 2%;
  margin-bottom: 2%;
  background-color: rgb(68, 137, 239);
  border: none;
  border-radius: 15px;
  transition-duration: 0.4s;
  color: rgb(255, 255, 255);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.ButtonBundle:hover {
  background-color: #8b89eb;
}

.ExamForm {
  align-content: center;
  /* width: fit-content; */
  margin: 1% 10% 2% 25%;
  padding: 2%;
  padding-left: 4%;
  border: 20px;
  border-radius: 50px;
  outline: 5px solid rgb(15, 45, 109);
  height: auto;
  display: inline-block;
  text-align: left;
  background-color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  width: 800px;
}

.ExamForm input {
  border-bottom: 2px solid rgb(104, 126, 155);
  background-color: rgb(201, 211, 211);
}

.ExamForm select {
  background-color: rgb(201, 211, 211);
}

.ExamForm label {
  font-weight: 300;
  /* font-size: ; */
}

input[name="patientId"],
input[name="examId"] {
  width: 35%;
  height: 32px;
}

.row3,
.row4,
.row5 {
  /* background-color: rgb(140, 169, 212); */
  display: block;
}

.row1 {
  display: inline-flex;
  border-top: 2px solid;
  /* padding-top: 20px; */
  align-items: center;
  /* border-top-width: 20px; */
}

.row2 {
  width: 100%;
  display: contents;
}

.row3 {
  height: 60px;
  display: inline-flex;
  align-items: center;
}

.UpBottonDiv {
  position: fixed;
  margin-left: 96%;
  bottom: 0;
  margin-bottom: 10px;
}

.UpBotton:hover {
  background-color: #8b89eb;
  cursor: pointer;
}

.UpBotton {
  background-color: #3b788a;
  height: 250px;
  width: 250px;
  border: none;
}

textarea {
  width: 350px;
  resize: vertical;
}

input {
  border-radius: 5px;
  border: none;
  padding: 5px;
  margin: 2%;
}

input[type="submit"] {
  /* background-color: rgb(105, 131, 209); */
  background-color: rgb(240, 129, 95);
  color: white;
  padding: 2%;
  width: 25vw;
  text-transform: uppercase;
}

input[type="submit"]:hover {
  background-color: cornflowerblue;
  box-shadow: 0 0 15px 4px rgba(61, 81, 142, 0.24);
}

.formFunction {
  display: block;
  text-align: right;
}

/* #rowCell {
} */

.csForm {
  height: 1000px;
  display: grid;
  width: 90%;
  margin-left: 25px;
}

#createButt {
  margin-left: 25%;
}

.resetButt {
  margin-right: 50px;
  width: 150px;
  height: 41px;
}

.resetButt:hover {
  background-color: rgb(111, 111, 192);
}

.cancelCLick {
  text-decoration: underline;
}

.cancelCLick:hover {
  text-decoration: none;
}

@media only screen and (max-width: 900px) {
  .ExamForm {
    width: fit-content;
  }
}
