body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E7F3FF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Detail page layout */
.LeftContent {
  padding: 5vh 0 15vh 0;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.RightContent {
  padding: 5vh 2vw 10vh 2vw;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex: 0 1 auto;
  font-size: small;
  height: 100%;
  margin: auto;
}

.Body {
  display: grid;
  grid-template-columns: 45% 45%;
  grid-gap: 5vw;
  align-items: center;
  justify-content: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Edit buttons */
.EditButton {
  transition-duration: 0.4s;
  background-color: #3B788A; 
  border: none;
  border-radius: 15px;
  margin-left: 2%;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
}

.EditButton:hover{
  background-color: #8b89eb;
}

.manipulateDataRow{
  background-color: red;
  display: inline-flex;
  width: 100%;
}
.EditDelete{
  background-color: #8b89eb;
  width: 100%;
  align-content: right;
}
/* Info box details */
.XRayImage {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  
  display: inline-block;
  position: relative;
  /* border: solid black 2px; */
  padding: 4px;
  color: rgb(0, 0, 0);
}

.ButtonBundle {
  margin-left: 2%;
  margin-bottom: 2%;
  background-color: rgb(68, 137, 239);
  border: none;
  border-radius: 15px;
  transition-duration: 0.4s;
  color: rgb(255, 255, 255);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}

.ButtonBundle:hover {
  background-color: #8b89eb;
}

.ExamForm {
  align-content: center;
  width: fit-content;
  margin: 1% 10% 2% 12%;
  padding: 2%;
  padding-left: 4%;
  border: 20px;
  border-radius: 50px;
  outline: 3px solid black;
  height: auto;
  display: inline-block;
  text-align: left;
}

input[name="patientId"],
input[name="examId"]
{
  width: 35%;
  height: 32px;
}

.row2,
.row3,
.row4,
.row5 {
  /* background-color: rgb(140, 169, 212); */
  display: block;
}

.row2 {
  width: 90%;
}

.UpBottonDiv{
  position: fixed;
  margin-left: 96%;
  bottom: 0;
  margin-bottom: 10px;

}

.UpBotton:hover{
  background-color: #8b89eb;
  cursor: pointer;
}

.UpBotton{
  background-color: #3B788A;
  height: 250px;
  width: 250px;
  border: none;
}

textarea {
  width: 350px;
  resize: vertical;
}

input {
  border-radius: 5px;
  border: none;
  padding: 5px;
  margin: 2%;
}

input[type=submit] {
  background-color: rgb(105, 131, 209);
  color: white;
  padding: 2%;
  width: 25vw;
  text-transform: uppercase;
  box-shadow: 0 0 15px 4px rgba(61, 81, 142, 0.24);
}

.formFunction {
  display: block;
  text-align: right;
}