/* Whole body of side menu  */
.contain-side {
  background-color: #0C2B59;
  width: 300px;
  height: 100vh;
  position: fixed;
  color: white; /*impacting "Hack Diversit"y text*/
  z-index: 6;
  transition: 0.1s;
}

.contain-side-NX {
  width: 5px;
  position: fixed;
  z-index: 1;
  height: 10px;
}

.nav-up,
.nav-head,
.menu,
.items-menu {
  display: grid;
}

.nav-head {
  justify-content: center;
  margin-left: 30px;
}

.nav-heading {
  grid-template-columns: 2fr, 1fr;
  grid-template-rows: 1fr;
  height: 75px;
}

/* Hack diversity title in menu */
.comp-brand {
  display: flex;
  color: white;
  padding-left: 40px;
  font-size: larger;
}

.nav-brand img {
  width: 40px;
  padding: 0 10px;
}

/* Styling the hamburger circle */
.hamburger {
  position: absolute;
  left: 4%;
  cursor: pointer;
  margin: 4px 0 0 0;
  background-color: #0D2E5E;
  border: 3px solid aliceblue;
  padding: 14px 20px 20px 20px;
  border-radius: 90px;
  height: 71px;
  width: 74px;
  z-index: 1;
}

/* Lines in the icon */
.hamburger span {
  display: block;
  margin-top: 5px;
  background-color: aliceblue;
  border-radius: 15px;
  height: 3.5px;
  width: 30px;
  transition: 0.4s;
}

/* Icon Animation */
.hamburger:hover span {
  margin: auto;
}

.hamburger-in:hover span:nth-child(1) {
  width: 25px;
  transform: translate(-3px, 8px) rotate(360deg);
}

.hamburger-in:hover span:nth-child(2) {
  display: none;
}

.hamburger-in:hover span:nth-child(3) {
  width: 25px;
  transform: translate(-3px, 8px) rotate(-360deg);
}

.hamburger-out:hover span:nth-child(1) {
  width: 25px;
  transform: translate(0px, 8px) rotate(360deg);
}

.hamburger-out:hover span:nth-child(2) {
  display: none;
}

.hamburger-out:hover span:nth-child(3) {
  width: 25px;
  transform: translate(0px, 8px) rotate(-360deg);
}
/* ^ End of Icon Animation ^ */

.menu {
  grid-template-rows: repeat(7, 1fr);
  padding-left: 15px;
}

/* Menu items when hamburger is open */
.items-menu {
  color: white;
  /* text-transform: uppercase; */
  text-align: left;
}

/* Menu items when hamburger element is closed : .items-menu-NX*/

.items-menu:hover {
  background-color: #F4B941;
  width: 90%;
  margin: auto;
  border-radius: 15px;
  text-align: center;
}

/* Hiding of the menu elements in the hamburger */
.tooltip {
  display: none;
  position: absolute;
  left: 99%;
  bottom: 80%;
  width: auto;
  padding: 4px 8px;
  border-radius: 15px 15px 15px 0;
  white-space: nowrap;
  border: 2px solid aliceblue;
}

.sidebar1 {
  display: flex;
}

@media (max-width: 100px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (min-width: 900px) {
  .contain-side-NX {
    display: none;
  }

  .contain-side {
    display: none;
  }
}

