    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Times New Roman', Times, serif
    }
    
    p {
        font-size: x-large;
    }
    
    .Header {
        color: rgb(21, 127, 193);
        font-weight:bold;
        border: 10px;
        border-color: blue;
        background-color: antiquewhite;
        outline: 5px solid rgb(68, 137, 239)
    }
    
    .InfoBox {
        color: rgb(0, 0, 0);
        flex-wrap: wrap;
        float: left;
        background-color: antiquewhite;
        font-family: 'Times New Roman', Times, serif;
        padding: 30px;
        margin-top: 20px;
        border: 10px;
        outline: 5px solid rgb(68, 137, 239);
    }
    
    .PatientInfo {
        color: rgb(0, 0, 0);
        height: auto;
        background-color: antiquewhite;
        padding: 60px;
        float: auto;
        border-radius: 15px;
        border: 10px;
        outline: 5px solid rgb(68, 137, 239);
    
    }
    .exam-id {
    width: 40vw;
    display: flex;
      justify-content: center;
      margin-bottom: 20px;
        /* font-size: 10px; */
    color: rgb(21, 127, 193);
    background-color: antiquewhite;
    border: 10px;
    border-radius: 15px;
    outline: 5px solid rgb(68, 137, 239); 
       
    }
    
    .XRayImage {
        font-family: 'Times New Roman', Times, serif;
        border-radius: 15px;
        border: 10px;
        outline: 5px solid rgb(68, 137, 239);
    }
    
    